---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Web",
    company: "Ibera",
    description:
      "Diseño y desarrollo de páginas web personalizadas para clientes de diversos sectores. Lideré con éxito una página web para un cliente importante del sector del deporte, resultando en un aumento del 10% en las visitas del gimnasio",
  },
  
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
