---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Especialista en IA",
    company: "REIF",
    link: "https://www.instagram.com/reif_dev/",
    description:
      "Encargado del desarrollo y mantenimiento de ChatBots con Inteligencia Artificial, con amplia experiencia en aplicaciones móviles y web.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
